body {
    font-family: "Monaco";
    vertical-align: bottom;
    margin-top: 5%;
}

h1 {
    text-align: center;
}
h2 {
    text-align: left;
}

#barchart {
    display: inline-block;
}
#scatterplot {
    display: inline-block;
}

div {
    margin-left: 5%;
}


